<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>小糊涂微服务统一认证</title>
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/css/index.css" rel="stylesheet">
</head>
<body class="bg-img">
<div class="container">
    <form class="form-container" th:action="@{/login}" method="post">
        <div class="title-text">
            <h2>小糊涂统一认证系统</h2>
        </div>
        <div>
            <input type="text" name="username" class="form-control" placeholder="账号" value="admin"
                   required autofocus onblur="leave()"/>
        </div>
        <div>
            <input type="password" name="password" class="form-control" placeholder="密码" value="admin" required
                   autofocus onblur="leave()"/>
        </div>
        <div class="code-container">
            <input type="text" id="code" name="code" class="form-control" placeholder="请输入验证码" required
                   onblur="leave()"/>
            <img src="" id="code-image" onclick="getVerifyCode()"/>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit" id="submit">登&nbsp;&nbsp;&nbsp;&nbsp;录</button>
        <span style="color: red; " th:text="${param.error}"/>
        <span style="color: red; " th:text="${error}"/>
        <!--显示失败信息-->
        <center>
            <h5 th:if="${error != null}" th:text="${error}">555555555</h5>
        </center>
    </form>
</div>
</body>
<script>
    function leave() {
        document.body.scrollTop = document.documentElement.scrollTop = 0;
    }

    function getVerifyCode() {
        let requestOptions = {
            method: 'GET',
            redirect: 'follow'
        };

        fetch(`${window.location.origin}/getCaptcha`, requestOptions)
            .then(response => response.text())
            .then(r => {
                if (r) {
                    let result = JSON.parse(r);
                    document.getElementById('code-image').src = result.data
                }
            })
            .catch(error => console.log('error', error));
    }

    getVerifyCode();
</script>
<script th:inline="javascript">

    function showError(message) {
        let errorBox = document.getElementById("error_box");
        errorBox.innerHTML = message;
        errorBox.style.display = "block";
    }

    function closeError() {
        let errorBox = document.getElementById("error_box");
        errorBox.style.display = "none";
    }

    let error = [[${ error }]]
    if (error) {
        if (window.Notification) {
            Notification.requestPermission(function () {
                if (Notification.permission === 'granted') {
                    // 用户点击了允许
                    let n = new Notification('登录失败', {
                        body: error,
                        icon: './assets/img/logo.png'
                    })

                    setTimeout(() => {
                        n.close();
                    }, 3000)
                } else {
                    showError(error);
                    setTimeout(() => {
                        closeError();
                    }, 3000)
                }
            })
        }
    }
</script>
</html>
