-- ------------------------------------------${moduleDesc}-----------------------------------------------------

-- 菜单 sql
INSERT INTO sys_menu
(`id`, `parent_id`, `menu_type`, `menu_name`, `menu_path`, `menu_view_name`, `menu_view_path`, `menu_icon`, `menu_redirect`, `menu_active`, `menu_authority`, `menu_hidden`, `menu_status`, `menu_link`, `menu_cache`, `menu_full`, `menu_affix`, `menu_sort`, `del_flag`, `create_by`, `update_by`, `create_time`, `update_time`)
VALUES
('${id1}', '${menuParentId}', 'C', '${tableComment}', '${url}', '${className}Index', '${indexPackage}', 'MoreFilled' , NULL, NULL, '${perms}:list', '1', '1', '0', '0', '0', '0', 1, '0', '代码生成(${author})', '代码生成(${author})', sysdate(), sysdate());


-- 权限 sql 增删改是按钮级别前端后端都有权限控制，查询主要来自后端控制
INSERT INTO sys_menu
(`id`, `parent_id`, `menu_type`, `menu_name`, `menu_path`, `menu_view_name`, `menu_view_path`, `menu_icon`, `menu_redirect`, `menu_active`, `menu_authority`, `menu_hidden`, `menu_status`, `menu_link`, `menu_cache`, `menu_full`, `menu_affix`, `menu_sort`, `del_flag`, `create_by`, `update_by`, `create_time`, `update_time`)
VALUES
('${id3}', '${id1}', 'B', '${tableComment}添加', NULL, NULL, NULL, '', NULL, NULL, '${perms}:add', NULL, '1', NULL, NULL, NULL, NULL, 1, '0', '代码生成(${author})', '代码生成(${author})', sysdate(), sysdate());
INSERT INTO sys_menu
(`id`, `parent_id`, `menu_type`, `menu_name`, `menu_path`, `menu_view_name`, `menu_view_path`, `menu_icon`, `menu_redirect`, `menu_active`, `menu_authority`, `menu_hidden`, `menu_status`, `menu_link`, `menu_cache`, `menu_full`, `menu_affix`, `menu_sort`, `del_flag`, `create_by`, `update_by`, `create_time`, `update_time`)
VALUES
('${id4}', '${id1}', 'B', '${tableComment}修改', NULL, NULL, NULL, '', NULL, NULL, '${perms}:edit', NULL, '1', NULL, NULL, NULL, NULL, 1, '0', '代码生成(${author})', '代码生成(${author})', sysdate(), sysdate());
INSERT INTO sys_menu
(`id`, `parent_id`, `menu_type`, `menu_name`, `menu_path`, `menu_view_name`, `menu_view_path`, `menu_icon`, `menu_redirect`, `menu_active`, `menu_authority`, `menu_hidden`, `menu_status`, `menu_link`, `menu_cache`, `menu_full`, `menu_affix`, `menu_sort`, `del_flag`, `create_by`, `update_by`, `create_time`, `update_time`)
VALUES
('${id5}', '${id1}', 'B', '${tableComment}删除', NULL, NULL, NULL, '', NULL, NULL, '${perms}:remove', NULL, '1', NULL, NULL, NULL, NULL, 1, '0', '代码生成(${author})', '代码生成(${author})', sysdate(), sysdate());
