package ${packageName};

#foreach($pkg in ${importClassNames})
${pkg}
#end

/**
 * 描述 ：${tableComment}
 *
 * @author : ${author}
 **/
@Mapper(componentModel = "spring")
public interface ${className}Convert {

    /**
     * {@link ${className}AddRequest} to {@link ${className}DO}
     */
    @Named(value = "addRequestToDo")
    ${className}DO toDO(${className}AddRequest addRequest);

    /**
     * {@link ${className}UpdateRequest} to {@link ${className}DO}
     */
    @Named(value = "updateRequestToDo")
    ${className}DO toDO(${className}UpdateRequest updateRequest);

    /**
     * {@link ${className}QueryRequest} to {@link ${className}DO}
     */
    @Named(value = "queryRequestToDo")
    ${className}DO toDO(${className}QueryRequest queryRequest);

    /**
     * {@link ${className}DO} to {@link ${className}Response}
     */
    @Named(value = "DoToResponse")
    ${className}Response toResponse(${className}DO testDO);


    /**
     * list转换 {@link ${className}DO} to {@link ${className}Response}
     */
    @Named(value = "DoToResponseCollection")
    @IterableMapping(qualifiedByName = "DoToResponse")
    List<${className}Response> toResponse(List<${className}DO> testDO);

    /**
     * 分页转换 {@link ${className}DO} to {@link ${className}Response}
     */
    default PageResponse<${className}Response> toPageResponse(IPage<${className}DO> iPage) {
        if (Objects.nonNull(iPage)) {
            PageResponse<${className}Response> pageResponse = PageTool.cloneEmpty(iPage);
            pageResponse.setList(toResponse(iPage.getRecords()));
            return pageResponse;
        }
        return PageTool.empty();
    }

}
