package ${packageName};

#foreach($pkg in ${importClassNames})
${pkg}
#end

/**
 * 描述 ：${tableComment}
 *
 * @author : ${author}
 **/
@Slf4j
@Repository
@RequiredArgsConstructor
public class ${className}DaoImpl implements ${className}Dao {

    private final ${className}Mapper ${classNameFirstLower}Mapper;

    /**
     * 获取对应 entity 的 BaseMapper
     *
     * @return BaseMapper
     */
    @Override
    public BaseMapperX<${className}DO> getBaseMapper() {
        return ${classNameFirstLower}Mapper;
    }

}
