<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="${packageName}.${className}Mapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="${DOpackageName}">
#foreach($field in ${columns})
#if(${column.pk} == '0')##生成主键排在第一位
        <id column="${field.columnNameDb}" property="${field.columnName}" />
#end
        <result column="${field.columnNameDb}" property="${field.columnName}" />
#end
    </resultMap>


    <!-- 通用查询结果列 -->
    <sql id="BaseColumnList">
#foreach($field in ${columns})
        ${field.columnNameDb}#if($foreach.count != $columns.size()),#end
#end
    </sql>

</mapper>
