package ${packageName};

#foreach($pkg in ${importClassNames})
${pkg}
#end

/**
 * 描述 ：${tableComment}-${symbolDesc}
 *
 * @author : ${author}
 **/
@Data
@Schema(name = "${className}Request(${tableComment}-${symbolDesc})", description = "${tableComment}-${symbolDesc}")
public class ${className}${symbol}Request ${request}{

#if($filedInfo == '0')
#foreach ($column in ${columns})
    /**
     * ${column.describe}
     */
    @Schema(description = "${column.describe}")
#if($column.nullable)
#if($column.redundancy == '3')
    @NotNull(message = "${column.describe} `${column.columnName}` 校验不通过", groups = {Create.class, Update.class})
#end
#if($column.redundancy == '2')
    @NotBlank(message = "${column.describe} `${column.columnName}` 校验不通过", groups = {Create.class, Update.class})
#end
#if($column.redundancy == '1')
    @IntegerInterval(message = "${column.describe} `${column.columnName}` 字段值在0到999之间", groups = {Create.class, Update.class})
#end
#end
    private ${column.javaType} ${column.columnName};

#end
#end
}
