/**
 * <h1>${tableComment}</h1>
 *
 * 描述 ： ts 类型声明
 *
 * @author : ${author}
 **/
import {FormRules} from 'element-plus';


export namespace ${className} {

    /**
     * 列表页面 页面配置参数
     */
    export interface PageInit extends CRUD.PageInit {

    }

    /**
     *  列表页面 表单查询参数
     */
    export interface QueryFrom extends CRUD.QueryFrom {
#foreach($column in $columns)
        ${column.columnName}?: ${column.tsType}, // $column.describe
#end
    }

    /**
     *  列表页面 列表类型
     */
    export interface Options extends CRUD.Options {
#foreach($column in $columns)
        ${column.columnName}: ${column.tsType}, // $column.describe
#end
    }

    /**
     * 增改页面 页面参数
     */
    export interface AddUpdatePageInit extends CRUD.AddUpdatePageInit {

    }

    /**
     * 增改页面 表单类型
     */
    export interface AddUpdateForm extends CRUD.AddUpdateForm {
#foreach($column in $columns)
        ${column.columnName}: ${column.tsType}, // $column.describe
#end
    }


    /**
     * 用于主页面的 vue reactive()函数使用
     */
    export interface Reactive {
        pageInit: PageInit; // 页面配置
        queryParams: QueryFrom; // 页面查询
        tableList: Options[]; // 页面表格列表
    }

    /**
     * 用于增改页面的 vue reactive()函数使用
     */
    export interface AddUpdateReactive {
        addUpdatePageInit: AddUpdatePageInit; // 页面配置
        addUpdateForm: AddUpdateForm; // 页面查询
    }

}

/**
 * 描述 ：  ts 默认变量值
 *
 * @author : ${author}
 **/
export namespace ${className}Status {

    /**
     * 列表页面 页面配置参数
     */
    export const defaultPageInit: ${className}.PageInit = {
        loading: false, // 遮罩层
        showSearch: true, // 显示搜索条件
        ids: [],         // 选中数组
        single: true,   // 非单个禁用
        multiple: true, // 非多个禁用
        total: 0, // 页面表格列表总数
    }

    /**
     * 增改页面 页面参数 默认值
     */
    export const defaultAddUpdatePageInit: ${className}.AddUpdatePageInit = {
        visible: false,
        title: '添加${tableComment}',
        buttonTitle: '添加',
        loading: false,
        saveOrUpdate: true,
        fullscreen: true,
    }

    /**
     * 增改页面 表单类型 默认值
     */
    export const defaultAddUpdateForm: ${className}.AddUpdateForm = {
#foreach($column in $columns)
    	${column.columnName}: #if($column.tsType=='string')''#elseif($column.tsType=='number')0#elseif($column.tsType=='boolean')false#elseif($column.tsType=='number')0#elseif($column.tsType=='any')null#end, // $column.describe
#end
    }

    /**
     * 增改页面 表单类型 表单校验
     */
    export const addUpdateFormRules: FormRules = {
#foreach($column in $columns)
        ${column.columnName}: [
            {required: true, message: '${column.describe}不能为空', trigger: 'blur'}
        ],
#end
    }
}
